aside {
    width: 320px;
    margin-bottom: 30px;
    background: rgb(243, 241, 241);
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px 20px;
    position: fixed;
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}

aside form {
    
}